body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 30px;
  background: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #00bcd4;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #606869;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #ffffff;
}

input:focus {
  outline: none;
  border-color: #606869;
  box-shadow: 0 0 5px #606869;
}

.button-group {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#calculateBtn {
  background-color: #606869;
  color: #121212;
}

#resetBtn {
  background-color: #f44336;
  color: #ffffff;
}

button:hover {
  opacity: 0.9;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #00e5ff;
}
