* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  overflow: hidden;
}

#svg {
  height: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.info-box {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-family: "Arial", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.info-box p {
  margin: 0;
  font-size: 1.2rem;
}
