body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Dark background */
}

.center-box {
    width: 200px;
    height: 200px;
    background-color: #ff7f50; /* Light orange color */
    transition: transform 0.3s ease;
}

.center-box:hover {
    transform: scale(1.1);
   
}

